<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sahuid.springbootinit.mapper.FieldMapper">

    <resultMap id="BaseResultMap" type="com.sahuid.springbootinit.model.entity.Field">
            <id property="id" column="id" />
            <result property="fieldId" column="fieldId" />
            <result property="fieldUnitId" column="fieldUnitId" />
            <result property="fieldRange" column="fieldRange" />
            <result property="fieldSize" column="fieldSize" />
            <result property="fieldParent" column="fieldParent" />
            <result property="fieldName" column="fieldName" />
            <result property="groupId" column="groupId" />
    </resultMap>

    <sql id="Base_Column_List">
        id,fieldId,fieldUnitId,fieldRange,fieldSize,fieldParent,fieldName,groupId
    </sql>
</mapper>
