<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sahuid.springbootinit.mapper.FieldGroupMapper">

    <resultMap id="BaseResultMap" type="com.sahuid.springbootinit.model.entity.FieldGroup">
            <result property="fieldId" column="fieldId" />
            <result property="groupId" column="groupId" />
    </resultMap>

    <sql id="Base_Column_List">
        fieldId,groupId
    </sql>
</mapper>
