<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sahuid.springbootinit.mapper.GroupManagerMapper">

    <resultMap id="BaseResultMap" type="com.sahuid.springbootinit.model.entity.GroupManager">
            <id property="id" column="id" />
            <result property="groupName" column="groupName" />
            <result property="groupRange" column="groupRange" />
            <result property="groupSize" column="groupSize" />
    </resultMap>

    <sql id="Base_Column_List">
        id,groupName,groupRange,groupSize
    </sql>
</mapper>
